# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#Quartus
*.rpt
*.chg
*.log
*.htm
*.eqn
*.pin
*.sof
*.pof
*.summary
*.done
*.smsg
*.qws
*.jdi
*db
